nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
nav ul li{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.cs1{
    color:#181818;
    font-size: 45px;
    font-weight: 700;
    padding-left: 10px;
    
    
}
.orange{
    color: #fd6e0a;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
    
}
nav a{
    text-decoration: none;
    color: #474747
}
.bg{
    background-color: #45a049;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}
.bg:hover {
    background-color: #a29a2a; Optional: adds a hover effect
}
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 450px, 60px ;
}
.banner{
    padding:5px 80px 5px 100px;
    display: flex;
    /* align-items: center; */
}
#p1 {
    padding-left: 100px;
}
.pad{
    padding-left: 100px;
}
.banner .dp{
    width: 300px;
    /* height: 200px; */
}
/* main section style */
.about{
    padding:  50px;
    background-color: #fff8f3;
    border-radius: 10px;
    margin-top: 50px;
    
}

.section-title{
    text-align: center;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
  
}
.section-descrip{
    text-align: center;
    color: black;
    font-size: 18px;
    padding: 30px 150px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.info-con{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.about-info{
   text-align: center;

}
#id2{
    padding: 0px 150px;
}
#id3{
    padding-bottom: 60px;
}
.skill-con{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 24px;
}
.skill{
    padding: 30px 60px;
    background: #fff8f3;
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.6);
}
.skill-des{
    color: black;
}
main section{
    margin-top: 100px;
}
.resume-con{
    display: flex;
    gap: 100px;
}
.rti{
    color: lightslategray;
}
.h4{
    margin-top: 0px;
    margin-bottom: 30px;
    color: #474747;
}
.h3{
    
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.h3-title{
    font-style: oblique;
   font-weight: bolder;
   font-size: 30px;
}
.button{
   text-align: center;
   margin-top: 30px;
}

/* footer style */
.footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 100px;
}
.social-link a{
    margin-right: 25px;
    /* padding-right: 10px; */
}
.footer-col-1, .footer-col-2{
    margin-top: 50px;
    padding-left: 200px;
}
.footer-title{
    margin-bottom: 5px;
}
.footer-descrip{
    margin-top: 0px;
    width: 500px;
}
.contact input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 10px 40px;
    border: 0px;
    width: 100%;
}
.contact{
    margin-top: 20px;
}