nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
nav ul li{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.cs1{
    color:#181818;
    font-size: 45px;
    font-weight: 700;
    padding-left: 10px;
    
    
}
.orange{
    color: #fd6e0a;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
    
}
nav a{
    text-decoration: none;
    color: #474747
}
.bg{
    background-color: #45a049;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}
.bg:hover {
    background-color: #a29a2a; Optional: adds a hover effect
}
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 450px ;
}
.banner{
    padding:5px 80px 5px 100px;
    display: flex;
    /* align-items: center; */
}
#p1 {
    padding-left: 100px;
}
.pad{
    padding-left: 100px;
}
.banner .dp{
    width: 300px;
    /* height: 200px; */
}
/* main section style */
.about{
    padding: 120px;
    background-color: #fff8f3;
    border-radius: 20px;
    margin-top: 50ppx;
}

.section-title{
    text-align: center;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
}
.section-descrip{
    text-align: center;
    color: #757575;
    font-size: 18px;
}
/* About */